html {
  scroll-behavior: smooth;
}
.accent {
  color: var(--v-theme-primary) !important;
}
.transparent {
  background-color: transparent !important;
}
.mr-65 {
  margin-right: 65px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-150 {
  margin-top: 150px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 6px; /* More rounded */
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px; /* More rounded */
}
::-webkit-scrollbar-thumb {
  background-color: #28e98c #3d3d3d;
  border-radius: 6px; /* More rounded */
  border: transparent;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #28e98c #3d3d3d;
}
