.accent {
  color: var(--v-theme-primary) !important;
}
.transparent {
  background-color: transparent !important;
}
.mr-65 {
  margin-right: 65px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-150 {
  margin-top: 150px;
}
